html {
  font-size: 10px;
  height:100%;
}
*{
margin:0;
padding:0;
box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  background-image: url(./images/black\ background\ .jpg);
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001f3f; 
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 50px;
  width :100%
}


/* Left section (logo) */
.left-section a {
  font-family: 'Arial', sans-serif; 
  font-size: 20px; 
  color: #ffffff; 
  margin: 0;
  padding: 0;
  text-transform:uppercase;
}
.left-section {
  display: flex;
  align-items: center;
}
.left-section a{
  text-decoration:none;
}
.left-section a:hover{
  transform:scale(1.05);
  transition:transform 0.3s ease;
  color: #ffee00;
  
  text-shadow: 0 0 10px #ffee00, 0 0 20px #ffee00, 0 0 30px #ffee00;
}

/* Middle section (search bar) */
.mid-section {
  display: flex;
  align-items: center;
}
.mid-section form {
  display: flex;
  align-items: center;
}

.mid-section input[type="text"] {
  padding: 10px;
  border: 2px solid #0d6bbd; 
  border-radius: 5px 0 0 5px;
  background-color: #002b5b; 
  color: #fff;
  font-size: 16px;
  width: 450px;
  box-sizing: border-box;
  height:36px;
}

.mid-section button {
  padding: 6px;
  background-color: #0d6bbd; 
  border: none;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  height: 100%; 
  box-sizing: border-box;
  display: flex;
  align-items: center; 
}


.mid-section button:hover {
  background-color: #005bb5; 
}

.mid-section input::placeholder {
  color: #ccc;
}

/* Right section (navigation links) */
.right-section a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.right-section a:hover {
  transform: scale(1.1); 
  color: #ffee00; 
  text-shadow: 0 0 10px #ffee00, 0 0 20px #ffee00;
}

.solar-system-background {
    position: relative;
    width: 100%;
    height: 100vh;
	overflow: hidden;
    z-index: -1;
}
 
/* sun */
.sun{
height:100px;
width:100px;
background-color: #ffcc00;
border-radius:50%;
box-shadow: -4px 2px 56px #f9c05f;
position: absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
z-index:9;
}
/* mercury */
.mercury{
height:6px;
width:6px;
background:#b18b67;
border-radius:50%;
box-shadow: -4px 2px 56px #f9c05f;
position: absolute;
left:47%;
top:47%;
transform:translate(-50%,-50%);
animation:orbit2 4s linear infinite;
z-index:1;
}
@keyframes orbit2{
from{transform:rotate(0deg)translateX(65px) rotate(0deg)}
to{transform:rotate(360deg)translateX(65px) rotate(-360deg)}
}
p{
color:white;
font-family:system-ui;
}
.plant-name{
  position: absolute;
  top: 0;
  right:35px;
}
.mercury p{
position:absolute;
left:-40px;
top:-11px;
}
.mercury-outline,.venus-outline-1,.earth-outline-1,.mars-outline-1,.jupiter-outline-1,.saturn-outline-1,.uranus-outline-1,.neptune-outline-1{
border-radius:50%;
border:1px dotted rgba(221, 221, 221, 0.423);
position: absolute;
left:50%;
top:50%;
transform:translate(-50%,-50%);
}
.mercury-outline{
    height:130px;
    width:130px;
    z-index:8;
}
/* venus */
.venus{
height:12px;
width:12px;
background:#e3c795;
border-radius:50%;
box-shadow: -4px 2px 56px #c1aa81;
position: absolute;
left:47%;
top:47%;
transform:translate(-50%,-50%);
animation:orbit3 8s linear infinite;
z-index:1;
}
@keyframes orbit3{
from{transform:rotate(0deg)translateX(90px) rotate(0deg)}
to{transform:rotate(360deg)translateX(90px) rotate(-360deg)}
}
.venus-outline-1{
    height:180px;
    width:180px;
    z-index:7;
}
/* earth */
.earth{
height:14px;
width:14px;
/* background:#2c91c4; */
background-image:url(./images/earth_PNG39.png);
background-size:cover;
border-radius:50%;
position: absolute;
box-shadow: -4px 2px 56px #2855d6;
left:47%;
top:47%;
transform:translate(-50%,-50%);
animation:orbit4 10s linear infinite;
z-index:1;
}
@keyframes orbit4{
from{transform:rotate(0deg)translateX(125px) rotate(0deg)}
to{transform:rotate(360deg)translateX(125px) rotate(-360deg)}
}
.earth-outline-1{
height:250px;
width:250px;
z-index:6;
}
.earth-circle{
height:25px;
width:25px;
border:1px dotted #ffffff43;
position: relative;
left:-5px;
top:-5px;
border-radius:50%;
z-index: 5;
}
.earth-moon{
height:2px;
width:2px;
background-color:white;
border-radius:50%;
position: absolute;
transform:translate(-50%,-50%);
left:44%;
top:44%;
animation:orbit5 5s linear infinite;
z-index:10;
}
@keyframes orbit5{
from{transform:rotate(0deg)translateX(12px) rotate(0deg)}
to{transform:rotate(360deg)translateX(12px) rotate(-360deg)}
}
/* mars */
.mars{
height:10px;
width:10px;
background:#d14b29;
border-radius:50%;
box-shadow: -4px 2px 56px #fea535;
position: absolute;
left:49%;
top:49%;
transform:translate(-50%,-50%);
animation:orbit6 16s linear infinite;
z-index:1;
}
@keyframes orbit6{
from{transform:rotate(0deg)translateX(155px) rotate(0deg)}
to{transform:rotate(360deg)translateX(155px) rotate(-360deg)}
}
.mars-outline-1{
height:310px;
width:310px;
z-index:4;
}
/* jupiter */
.jupiter{
height:32px;
width:32px;
background:#d68c45;
border-radius:50%;
box-shadow: 0px 0px 5px #cac2b9;
position: absolute;
left:46%;
top:46%;
transform:translate(-50%,-50%);
animation:orbit7 30s linear infinite;
}
@keyframes orbit7{
from{transform:rotate(0deg)translateX(198px) rotate(0deg)}
to{transform:rotate(360deg)translateX(198px) rotate(-360deg)}
}
.jupiter-outline-1{
height:400px;
width:400px;
z-index: 3;
}
/* Saturn */
.saturn {
height: 19px;
width: 18px;
background: #e8bc89; /* Light golden color for Saturn */
border-radius: 50%;
box-shadow: 0px 0px 5px #cac2b9;
position: absolute;
left: 48%;
top: 48%;
transform: translate(-50%, -50%);
animation: orbit8 40s linear infinite;
z-index: 5;
}
.saturn p{
position:absolute;
left:-45px;
top:-11px;
}
.saturn::before {
content: '';
position: absolute;
width: 28px; 
height: 8px; 
border-radius: 50%;
border: 2px solid #c5a880;
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%) rotate(20deg); 
}
.saturn-outline-1 {
height: 470px;
width: 470px;
border-radius: 50%;
border: 1px dotted rgba(221, 221, 221, 0.423);
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
z-index:2;
}
@keyframes orbit8 {
    from {transform: rotate(0deg) translateX(233px) rotate(0deg);}
    to {transform: rotate(360deg) translateX(233px) rotate(-360deg);}
}

.uranus{
height:17px;
width:17px;
background:#78d2e3;
border-radius:50%;
box-shadow: 0px 0px 5px #cac2b9;
position: absolute;
left:48%;
top:48%;
transform:translate(-50%,-50%);
animation:orbit9 60s linear infinite;
}
@keyframes orbit9{
from{transform:rotate(0deg)translateX(265px) rotate(0deg)}
to{transform:rotate(360deg)translateX(265px) rotate(-360deg)}
}
.uranus-outline-1{
    height:530px;
    width:530px;
    z-index:1;
}

.neptune{
height:17px;
width:17px;
background:#3b6fd3;
border-radius:50%;
box-shadow: 0px 0px 5px #cac2b9;
position: absolute;
left:48%;
top:48%;
transform:translate(-50%,-50%);
animation:orbit10 80s linear infinite;
}
@keyframes orbit10{
from{transform:rotate(0deg)translateX(296px) rotate(0deg)}
to{transform:rotate(360deg)translateX(296px) rotate(-360deg)}
}
.neptune-outline-1{
    height:590px;
    width:590px;
}
.neptune p{
position:absolute;
left:-45px;
top:-11px;
}

.info-box {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); /* Dark background */
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  font-size: 1.2rem;
  z-index: 10;
}

.planet-container:hover .info-box {
  display: block;
}


.content-area {
    background-color: #001f3f;
    border-radius: 15px;
    z-index: 100000;
}


.content-background {
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  height:600px;
  overflow: hidden;
}

.content-background img {
  width: 50%;
  height: 90%;
  object-fit: cover;
  border-radius:40px;
  padding:20px;
}

.content-box{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:left;
  width:50%;
  color:white;
  padding:0 50px;
}

.content-box h1 {
  font-size:60px;
  color:white;
}

.content-box p {
  font-size: 1.5em;
}

.content-box button {
  background-color: #007BFF;
  color: white;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight:600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top:50px;
}

.content-box button:hover {
  background-color: #0056b3;
}

/* Features Section */
.features-container {
  background-color: white;
  height:250px;
  padding: 20px;
  text-align: right;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.features-container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-bottom: 50px;
}

.features-container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* لخلق مسافة بين العناصر */
}

.features-container ul li {
  flex: 1 1 30%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.features-container ul li h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #020202;
}

.features-container ul li p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}




/* Exoplanet Section */
.exoplanet {
  background-color: #002b5b;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: right;
}

.exoplanet h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-bottom: 15px;
}

.exoplanet p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.exoplanet-gallery {
  display: flex;
  justify-content: space-between;
}

.exoplanet-gallery img {
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.exoplanet-gallery img:hover {
  transform: scale(1.05);
}

/* Info Section */
.info-section {
  background-color: #001f3f;
  padding: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.info-section h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-bottom: 15px;
}

.contact-info {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.contact-info h3 {
  margin-bottom: 10px;
}


/* footer*/
.footer {
	background-color: #333;
	color: white;
	text-align: center;
	height: 200px;
	position: relative;
	bottom: 0;
	width: 100%;
	flex-shrink: 0;
	z-index: 200000;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .footer-content {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .footer-section {
	max-width: 300px;
	margin: 10px 20px;
  }
  
  .footer-section h3 {
	font-size: 1.5em;
	margin-bottom: 15px;
	border-bottom: 2px solid #1a91da;
	display: inline-block;
	padding-bottom: 5px;
  }
  
  .footer-section p,
  .footer-section ul {
	font-size: 1.1em;
	line-height: 1.8;
  }
  
  .footer-section ul {
	list-style: none;
	padding: 0;
  }
  
  .footer-section ul li {
	margin-bottom: 10px;
  }
  
  .footer-section ul li a {
	text-decoration: none;
	color: white;
	transition: color 0.3s ease;
  }
  
  .footer-section ul li a:hover {
	color: #1a91da;
  }
  
  @media (max-width: 768px) {
	.footer-content {
	  justify-content: center;
	  padding: 10px;
	}
  
	.footer-section {
	  max-width: 100%;
	  text-align: left;
	}
  }
  
  
  /* Social icons styling */
  .socials a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	margin-right: 15px;
	transition: color 0.3s ease;
  }
  
  .socials a:hover {
	color: #1a91da;
  }
  
  /* Footer bottom */
  .footer-bottom {
	margin-top: 20px;
	border-top: 1px solid #1a91da;
	padding-top: 15px;
	font-size: 0.9em;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
	.footer-content {
	  flex-direction: column;
	  text-align: center;
	}
  
	.footer-section {
	  max-width: 100%;
	  margin-bottom: 20px;
	}
  }


@font-face {
	font-family: 'Product Sans Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Regular'), url('../fonts/ProductSans-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Italic'), url('../fonts/ProductSans-Italic.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Thin Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Thin Regular'), url('../fonts/ProductSans-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Light Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Light Regular'), url('../fonts/ProductSans-Light.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Medium Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Medium Regular'), url('../fonts/ProductSans-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Black Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Black Regular'), url('../fonts/ProductSans-Black.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Thin Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Thin Italic'), url('../fonts/ProductSans-ThinItalic.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Light Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Light Italic'), url('../fonts/ProductSans-LightItalic.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Medium Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Medium Italic'), url('../fonts/ProductSans-MediumItalic.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Bold'), url('../fonts/ProductSans-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Bold Italic'), url('../fonts/ProductSans-BoldItalic.woff') format('woff');
}

@font-face {
	font-family: 'Product Sans Black Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Product Sans Black Italic'), url('../fonts/ProductSans-BlackItalic.woff') format('woff');
}

:root {
	--header-height: 3rem;
	--hue: 45;
	--sat: 98%;
	--first-color: hsl(var(--hue), var(--sat), 60%);
	--first-color-light: hsl(var(--hue), var(--sat), 85%);
	--first-color-lighten: hsl(var(--hue), var(--sat), 80%);
	--first-color-alt: hsl(var(--hue), var(--sat), 53%);
	--title-color: hsl(var(--hue), 4%, 15%);
	--text-color: hsl(var(--hue), 4%, 35%);
	--text-color-light: hsl(var(--hue), 4%, 65%);
	--body-color: hsl(var(--hue), 0%, 100%);
	--container-color: #fff;
	--scroll-bar-color: hsl(var(--hue), 4%, 85%);
	--scroll-thumb-color: hsl(var(--hue), 4%, 75%);
	--body-font: "Poppins", sans-serif;
	--biggest-font-size: 2rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;
	--font-semi-bold: 600;
	--font-bold: 700;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--z-tooltip: 10;
	--z-fixed: 100;
}

@media screen and (min-width: 968px) {
	 :root {
		--biggest-font-size: 3rem;
		--h2-font-size: 1.75rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
	}
}

*,
::before,
::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: var(--header-height) 0 0 0;
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
	transition: 0.5s;
}

h1,
h2,
h3 {
	font-weight: var(--font-semi-bold);
	color:black;
	line-height: 1.5;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

body.dark-theme {
	--first-color-light: hsl(var(--hue), var(--sat), 75%);
	--title-color: hsl(var(--hue), 4%, 95%);
	--text-color: hsl(var(--hue), 4%, 80%);
	--body-color: hsl(var(--hue), 8%, 13%);
	--container-color: hsl(var(--hue), 8%, 16%);
	--scroll-bar-color: hsl(var(--hue), 4%, 32%);
	--scroll-thumb-color: hsl(var(--hue), 4%, 24%);
}

.change-theme {
	position: absolute;
	right: 1.5rem;
	top: 2.2rem;
	color: var(--title-color);
	font-size: 1.8rem;
	cursor: pointer;
}

.dark-theme .footer {
	background-color: var(--container-color);
}

.section {
	padding: 4.5rem 0 1rem;
}

.svg__color {
	fill: var(--first-color);
}

.svg__blob {
	fill: var(--first-color-light);
}

.svg__img {
	width: 300px;
	justify-self: center;
}

.container {
	max-width: 80%;
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.header {
	width: 100%;
	background-color: var(--body-color);
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	transition: 0.5s;
}

.nav {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #001f3f;
}

@media screen and (max-width: 767px) {
	.nav__menu {
		position: fixed;
		background-color: var(--container-color);
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
		padding: 2.5rem 0;
		width: 90%;
		top: -100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: 0.4s;
		border-radius: 2rem;
		z-index: var(--z-fixed);
	}
}

.nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1.5rem;
}

.nav__link:hover {
	border-bottom: solid 1px rgba(0, 0, 0, 0.363);
}

.nav__link,
.nav__logo,
.nav__toggle {
	color: #fff;
	font-weight: var(--font-semi-bold);
}
a:hover {
  transform: scale(1.1); 
  color: #ffee00; 
  text-shadow: 0 0 10px #ffee00, 0 0 20px #ffee00;
}
.nav__toggle {
	font-size: 1.3rem;
	cursor: pointer;
}

.show-menu {
	top: calc(var(--header-height) + 1rem);
}

.active-link {
	position: relative;
}

.active-link::before {
	content: "";
	position: absolute;
	bottom: -0.75rem;
	left: 45%;
	width: 5px;
	height: 5px;
	background-color: var(--title-color);
	border-radius: 50%;
}

.scroll-header {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.button {
	display: inline-block;
	background-color: #326dee;
	color: #fff;
	padding: 0.75rem 1.5rem;
	border-radius: 3rem;
	font-weight: var(--font-semi-bold);
	transition: 0.3s;
}

.button:hover {
	background-color: #2059d4;
}

.button__header {
	display: none;
}

.button-link {
	background: none;
	padding: 0;
	color: var(--title-color);
}

.button-link:hover {
	background-color: transparent;
}

.button-flex {
	display: inline-flex;
	align-items: center;
	column-gap: 0.5rem;
	padding: 0.75rem 1rem;
}

.button__icon {
	font-size: 1.5rem;
}

.bscontainer {
	width: 100%;
	padding-right: var(--bs-gutter-x, 0.75rem);
	padding-left: var(--bs-gutter-x, 0.75rem);
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.bscontainer-sm,
	.bscontainer {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.bscontainer-md,
	.bscontainer-sm,
	.bscontainer {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.bscontainer-lg,
	.bscontainer-md,
	.bscontainer-sm,
	.bscontainer {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.bscontainer-xl,
	.bscontainer-lg,
	.bscontainer-md,
	.bscontainer-sm,
	.bscontainer {
		max-width: 1140px;
	}
}

@media (min-width: 1400px) {
	.bscontainer-xxl,
	.bscontainer-xl,
	.bscontainer-lg,
	.bscontainer-md,
	.bscontainer-sm,
	.bscontainer {
		max-width: 1320px;
	}
}

.bsrow {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) * -0.5);
	margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.bsrow>* {
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) * 0.5);
	padding-left: calc(var(--bs-gutter-x) * 0.5);
	margin-top: var(--bs-gutter-y);
}

@media (min-width: 768px) {
	.bscol-md-6 {
		flex: 0 0 auto;
		width: 50%;
	}
	.bscol-md-2 {
		flex: 0 0 auto;
		width: 16.66666667%;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.bscol-md-2,
	.bscol-md-6 {
		flex: 0 0 auto;
		width: 50%;
	}
}

@media (min-width: 376px) and (max-width: 576px) {
	.bscol-md-2,
	.bscol-md-6 {
		flex: 0 0 auto;
		width: 100%;
	}
}

.footer-dark {
	padding: 50px 0;
	color: #f0f9ff;
	background-color: #1a1a1a;
	margin-top: 100px;
}

.footer-dark h3 {
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 20px;
	color: white;
}

.footer-dark ul {
	padding: 0;
	list-style: none;
	line-height: 1.6;
	font-size: 18px;
	margin-bottom: 0;
}

.footer-dark ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.6;
}

.footer-dark ul a:hover {
	opacity: 0.8;
}

@media (max-width: 767px) {
	.footer-dark .item:not(.social) {
		text-align: center;
		padding-bottom: 20px;
	}
}

.footer-dark .item.text {
	margin-bottom: 36px;
}

@media (max-width: 767px) {
	.footer-dark .item.text {
		margin-bottom: 0;
	}
}

.footer-dark .item.text p {
	opacity: 0.6;
	margin-bottom: 0;
}

.footer-dark .item.social {
	text-align: center;
	margin: auto;
}

@media (max-width: 991px) {
	.footer-dark .item.social {
		text-align: center;
		margin-top: 20px;
	}
}

.footer-dark .item.social>a {
	font-size: 20px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
	margin: 0 8px;
	color: #fff;
	opacity: 0.75;
}

.footer-dark .item.social>a:hover {
	opacity: 0.9;
}

.footer-dark .copyright {
	text-align: center;
	padding-top: 24px;
	opacity: 0.3;
	font-size: 15px;
	margin-bottom: 0;
}

.social_links {
	padding: 1rem;
	border-radius: 0rem;
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.social_links .combo {
	transform: scale(0.9);
	transition: 0.4s ease-in;
	margin: 0 0.5rem;
	height: 3em;
	width: 3em;
	line-height: 3em;
}

.combo .circle {
	color: #f9f9f9;
	transition: 0.4s ease-in;
	font-size: 3em;
}

.combo .icon {
	color: #444343;
	font-size: 2rem;
	transform: translateY(1px);
	transition: 0.2s ease-in;
}

.combo:hover {
	transform: scale(1.1);
}

.combo:hover,
.combo:hover .icon {
	color: white;
}

.ig:hover,
.ig:hover .circle {
	color: #e91e63;
}

.fb:hover,
.fb:hover .circle {
	color: #2196f3;
}

.yt:hover,
.yt:hover .circle {
	color: #f44336;
}

.tw:hover,
.tw:hover .circle {
	color: #2196f3;
}

.gt:hover,
.gt:hover .circle {
	color: #1f1f1f;
}

.scrollup {
	position: fixed;
	background: #1185d3;
	right: 1rem;
	bottom: -20%;
	display: inline-flex;
	padding: 0.3rem;
	border-radius: 0.25rem;
	z-index: var(--z-tooltip);
	opacity: 0.8;
	transition: 0.4s;
}

.scrollup:hover {
	background-color: #2059d4;
	opacity: 1;
}

.scrollup__icon {
	font-size: 1.6rem;
	color: #fff;
}

.show-scroll {
	bottom: 3rem;
}

::-webkit-scrollbar {
	width: 0.6rem;
	border-radius: 0.5rem;
	background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-color);
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-color-light);
}

@media screen and (max-width: 360px) {
	.section {
		padding: 3.5rem 0 1rem;
	}
}

@media screen and (min-width: 576px) {
	.section__title-center {
		text-align: initial;
	}
	.footer__container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 767px) {
	body {
		margin: 0;
	}
	.section {
		padding: 6rem 0 2rem;
	}
	.nav {
		height: calc(var(--header-height) + 1.5rem);
	}
	.nav__list {
		flex-direction: row;
		column-gap: 2.5rem;
	}
	.nav__toggle {
		display: none;
	}
	.change-theme {
		position: initial;
	}
}


@media screen and (min-width: 968px) {
	.button__header {
		display: block;
	}
	.footer__container {
		grid-template-columns: repeat(5, 1fr);
	}
	.footer__social {
		align-items: flex-start;
	}
	.footer__social-link {
		font-size: 1.45rem;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		margin-left: auto;
		margin-right: auto;
	}
	.footer__container {
		column-gap: 3rem;
	}
	.scrollup {
		right: 2rem;
	}
}

.banner {
	padding-top: 200px;
	width: 100%;
	height: 87vh;
	background-image: url(./images/astronomy.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.content {
	text-align: center;
}

.top-subtitle {
	margin-top: 33px;
}

.content .subtitle {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 140.62%;
	letter-spacing: -0.04em;
	color: #fff;
}

.content .title {
	font-family: Product Sans Bold;
	margin-top: 83px;
	font-weight: 700;
	font-size: 110px;
	line-height: 105px;
	letter-spacing: -0.04em;
	color: #fff;
}

.banner-subtitle {
	margin-top: 13px;
	position: absolute;
	width: 506px;
	display: flex;
	align-items: center;
	text-align: center;
	left: calc(50% - 506px / 2);
}



.sec-head {
	font-family: Product Sans Bold;
	font-size: 60px;
	letter-spacing: -0.04em;
}

.hotels {
	margin-top: 130px;
}

#hotels-head {
	text-align: center;
	margin-bottom: 30px;
}

.wrapper {
	width: 100%;
}

.carousel {
	max-width: 70%;
	margin: auto;
	padding: 0 30px;
}

.carousel .card {
	color: #fff;
	text-align: center;
	margin: 20px 0;
	line-height: 250px;
	font-size: 90px;
	font-weight: 600;
	border-radius: 10px;
	background: #d1d1d1;
	height: 400px;
}

.carousel .card-1 {
	background-image: url(../img/earth.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-2 {
	background-image: url(../img/mercury.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-3 {
	background-image: url(../img/venus.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-4 {
	background-image: url(../img/mars.jpg);
	background-size: cover;
	background-position: center;
}

.carousel .card-5 {
	background-image: url(../img/jupiter.jpeg);
	background-size: cover;
	background-position: center;
}

.carousel .card-6 {
	background-image: url(../img/saturn.avif);
	background-size: cover;
	background-position: center;
}

.carousel .card-7 {
	background-image: url(../img/uranus.jpg);
	background-size: cover;
	background-position: center;

}

.carousel .card-8 {
	background-image: url(../img/neptune.jpg);
	background-size: cover;
	background-position: center;
}

.owl-dots {
	text-align: center;
	margin-top: 40px;
}

.owl-dot {
	height: 15px;
	width: 15px;
	margin: 0 5px;
	outline: none;
	border-radius: 50%;
	border: 2px solid #0072bc!important;
	transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
	background: #0072bc!important;
}

.vision {
	font-family: Inter;
	background-color: #d2d2d2;
	background-image: url(../img/bg-pattern.svg);
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 100px;
	margin-top: 150px;
	height: auto;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;
	margin-left: 25%;
	justify-content: center;
	align-items: center
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1
}

.vision-column {
	background-color: #fff;
	padding: 40px;
	height: auto;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0 10px 36px 0, rgba(0, 0, 0, 0.06) 0 0 0 1px
}

.vision-column p {
	font-size: 1.09rem;
	text-align: justify;
	padding: 20px
}

@media screen and (max-width:1205px) {
	.vision-column p {
		font-size: 1.1rem;
		text-align: center
	}
	.vision-column {
		width: 500px
	}
}

@media screen and (max-width:613px) {
	.vision-column {
		width: 400px
	}
}

@media screen and (max-width:500px) {
	.vision-column {
		width: 300px
	}
}

.wrapper-rev {
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	font-family: Inter;
}

.wrapper-rev .box {
	background: #fff;
	width: calc(33% - 10px);
	padding: 25px;
	border-radius: 10px;
	border: 1px solid #c3c3c3a4;
}

.wrapper-rev .box i.quote {
	font-size: 20px;
	color: #40a1e2;
}

.wrapper-rev .box .content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 10px;
}

.box .info .name {
	font-weight: 600;
	font-size: 17px;
}

.box .info .job {
	font-size: 16px;
	font-weight: 500;
	color: #40a1e2;
}

.box .info .stars {
	margin-top: 2px;
}

.box .info .stars i {
	color: #40a1e2;
	font-size: 20px;
}

.box .content .image {
	height: 75px;
	width: 75px;
	padding: 3px;
	background: #40a1e2;
	border-radius: 50%;
}

.content .image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #fff;
}

.box:hover .content .image img {
	border-color: #fff;
}


@media (max-width: 1045px) {
	.wrapper-rev .box {
		width: calc(50% - 10px);
		margin: 10px 0;
	}
}

@media (max-width: 702px) {
	.wrapper-rev .box {
		width: 100%;
	}
}
.book{
  padding-top: 50px;
  padding-right: 50px;
  width: 225px;
  height: 310px;
 
  border-radius: 10px;
}
  .book:hover{
    transform: scale(0.95);
    transition: 0.5s;
  }
  .information{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
  
  }
  .tbook{
    align-items: center;
    height: 500px;
    width: 400px;
  
  }
  .titlebook{
    color: white;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  td{
    width: 200px;
}
